{# src/Stsbl/RepositoryMonitorBundle/Resources/views/Default/credentials.html.twig #}
{% extends 'IServAdminBundle::page.html.twig' %}

{% block page_title %}
    {{ _('StsBl-Repository: credentials') }} - 
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="alert alert-info">
        {{ _('Credentials entered in the past are still saved, but not displayed for security reasons.') }}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Update credentials for the StsBl-Repository') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
